h1 {
  color: white;
}

h2 {
  text-align: center;
}

.hospital {
  background-color: red;
}

.kennel {
  background-color: green;
}
.graveyard {
  background-color: gray;
}
.card-size {
  height: 225px;
}
.modal-body {
  display: flex;
}
.modal-image img {
  height: 250px;
  width: 250px;
  margin-right: 20px;
}
.dead-icon {
  height: 30px;
  width: 30px;
}
.table {
    display: flex;
    justify-content: space-between;
    justify-self: center;
}
.timestamp-summary {
    display: flex;
    align-self: center;
}
